[FORMAT]
expected-line-ending-format=LF
indent-string=\t

[MESSAGES CONTROL]
# Sanity.
disable=invalid-name,
	too-many-arguments,
	too-many-nested-blocks,
	too-many-branches,
	too-many-statements,
	too-few-public-methods,
	too-many-instance-attributes,
	too-many-locals,
	line-too-long,
	import-outside-toplevel,
	consider-using-f-string


[MISCELLANEOUS]
notes=FIXME,XXX, TODO